@media only screen and (max-width: 600px) {
  .card {
    width: 19rem !important;
    height: 28rem !important;
    margin: 1rem 1.5rem !important;
  }
  .con {
    margin: auto !important;
    width: 100% !important;
    height: 132rem !important;
  }
  .conr {
    margin: 0rem 0rem !important;
    width: 100%;
  }
  .sse {
    margin: -2rem 0rem !important;
  }
  .sf {
    margin: -2rem 1rem !important;
  }
  .ddx {
    margin: 4rem 4rem !important;
  }
  .sfsfs.card {
    margin: -6rem 2rem !important;
  }
  .efe {
    width: 100% !important;
    margin: auto !important;
    height: 85rem !important;
  }
  .eee {
    margin: -6rem 1rem !important;
    height: 836px !important;
    width: 90% !important;
  }
  .wer {
    width: auto !important;
    margin: auto !important;
  }
  .ssaas {
    margin: -1rem 4rem !important;
  }
  .sfs {
    /* margin: auto !important; */
    font-size: 8px !important;
  }
  .sv {
    margin: -2rem 5rem !important;
  }
  .mb-3 {
    margin: auto !important;
    width: 100% !important;
  }
  .form-select {
    width: 100% !important;
    margin: 0rem 0rem !important;
  }
  .sdp {
    margin: 0rem 0rem !important;
    padding: auto !important;
    width: 100% !important;
  }
  .sda {
    margin: 0.5rem 1rem !important;
    font-size: 20px !important;
  }
  .sdg {
    margin: 0rem 0rem !important;
    width: 100% !important;
  }
  .evb {
    margin: 2rem 8rem !important;
    height:65px !important;
  }
  .ef {
    height: 42rem !important;
  }
  .sdau {
    margin-left: -12rem !important;
  }
  .efel {
    margin: auto !important;
    width: 100% !important;
    height: 85rem !important;
  }
  .ef {
    margin: auto !important;
    width: 100% !important;
  }
  .containe {
    margin: auto !important;
  }
  .sdi {
    margin: 0rem 5rem;
  }
  .fb {
    margin-left: 1rem !important ;
  }
  .sds {
    margin-left: 0rem !important;
    width: auto  !important;
  }
  .fsf {
    margin: 0rem 0rem !important;
    width: 100% !important;
  }
  .coghs {
    margin:0rem 5rem !important;  
  }
  .uui {
    margin: 0rem 5rem !important;
  }
  .rty {
    margin: auto !important;
    width: 100% !important;
  }
  .ssq {
    margin: 1rem 2rem !important;
  }
  .tree {
    margin: auto !important;
    width: auto !important;
    height: 45% !important;
  }
  .fss {
    margin: 0rem 2rem !important;
  }
  .efmrr {
    width: 100% !important;
    margin: auto !important;
  }
  .conv {
    margin: 0rem 7rem !important;
  }
  .sdegf {
    margin: auto !important;
    width: 115% !important;
  }
  .sdsaet{
    margin: 1rem 0rem !important;
  }
  .afsef{
    height: 0.8rem !important;
    margin: 1.5rem 1rem !important;
    width: 55% !important;
  }
  .fhh{
    margin: 1.5rem 0.5rem;
  }
  .wdvnm.d-flex.justify-content-center{
    margin: auto !important;

  }
  .fhjm{
    margin: 1rem 0rem !important;
    width: 10% !important;
    height: 2rem !important;
    border-radius: 4px !important;
  }
  .fhrtm{
    height: 2rem !important;
    margin: 1rem 0.3rem !important;
    border-radius: 4px !important;
  }
  .sdsa{
    width: 100% !important;
  }
  .dd{
    margin: 0.5rem 0.5rem !important;
    font-size: 7px !important;
  }
  .cscsc{
    width: 100% !important;
  }
.dwdatu{
  height: 175rem !important;
  width: 100% !important;
 margin:0rem 0rem !important ;
}
.fsfc{
  margin: 1rem 0rem !important;
}
.sfvvb{
  margin: 0rem 1rem !important;
}
.sfaf.d-flex{
  margin: auto !important;
}
.fhpp{
  width: 40% !important;
  margin: 0.8rem 1.4rem !important;
}

.hjhh{
  margin: auto !important;
  width: 100% !important;
  height: 20rem !important;
}
.efga{
  margin: 0rem 1rem !important;
}
.fgqr{
  margin: 0rem 1rem !important;
}
.dfasffa{
  margin: auto !important;
}
.eegg{
  margin: 1rem 2rem !important;
}
.asfsg{
margin: auto !important;
}
.dfssgjkio{
  width: 70% !important;
  margin: 0rem 3rem !important;
}
.hfhgfii{
  margin: 1rem 3rem !important;
}
.fhjmxvxvxv{
  margin: 0.8rem !important;
  width: 38% !important;
}
.ggrykk{
  margin: auto !important;
  height: 44rem !important;
}
.ehj{
  margin: 0rem 1rem !important;
}
.fhjj{
  width: 87% !important;
  margin: 0rem 1.5rem !important;
  height: 27rem !important;
}
.gdgvc{
  margin:0rem 0rem !important;
  width: 100% !important;
}
.asfsnm{
  margin: 1rem 1rem !important;
  width: 93% !important;
}
.ffsghmgfd{
  margin: 0rem 0rem !important;
  width: 100% !important;
}
.asfaio{
  margin: 8rem 0rem !important;
}
.fsshj.d-flex{
  margin:"0rem 1rem" !important
}
.tomar{
  margin: auto !important;
  width: 100% !important;
}
.sedsdji{
  margin:0rem 2rem !important;
  width: auto !important;
}
.asf{
  margin: 0.7rem 1rem !important;
}
.ant-space-item{
  width: 64% !important;
}
.eereeg{
  margin: auto !important;
  width: 100% !important;
}
.fhh1{
  margin: 1.5rem 0rem !important;
  font-size: 11px !important;
}
.fhh2{
  margin: 1.5rem 0.7rem !important;
  font-size: 11px !important;
}
.wfef{
  margin: auto !important;
  width: 100% !important;
  height: 262rem !important;
}
.safsff{
  margin: 1rem 1rem !important;
  width: 80% !important;
}
.safsd10{
  margin: 1rem 0.5rem !important;
}
.fhh8{
  margin: 1.3rem 0rem !important;
  font-size: 9px !important;
}
.fhh7{
  font-size: 9px !important;
  margin: 1rem 1.5rem !important;
}
.fdvvvd{
  font-size: 9px !important;
  margin: 1rem 1rem !important;
}
.assaa{
  height: 1rem !important;
  margin: 0.3rem 0rem !important;
}
.sdfwf{
  margin: 1.3rem 2rem !important;
}
.sff{
  margin: auto !important;
}
.sfsf{
  margin: 0rem 0rem !important;
  width: 100% !important;
  height: 144rem !important;
}
.afsdf{
  margin: auto !important;
}
.aff{
  margin: 0.5rem 0rem !important;
  width: 100% !important;
}
.ckjhkh{
  margin: auto !important;
}
.imo{
  margin: -0.8rem 1.2rem !important;
  width: 88% !important;
}
.fggh{
  margin: 0rem 1.3rem !important;
  width: 88% !important;
}
.fhfhfh.justify-content-center{
  margin: 3rem 1.3rem !important;
  width: 88% !important;
}
.arar{
  margin: 0.5rem 1rem;
}
.ewcn{
  margin: auto !important;
  width: 100% !important;
}
.sdsaet  {
  margin: 0.5rem 2rem  !important;
}
.fhh3{
  margin: 1.5rem 0rem !important;
  font-size: 11px !important;
}
.sdgfds1.d-flex{
  margin: 0rem -1rem !important;
}
.sdgfds2.d-flex{
  margin: 0rem 2.4rem !important;
}
.sdgfds3.d-flex{
  margin: 0rem -0.6rem !important;
}
.sdgfds4.d-flex{
  margin: 0rem 0.8rem !important;
}
.sdgfds5.d-flex{
  margin: 0rem -0.1rem !important;
}
.sdgfds6.d-flex{
  margin: 0rem -1.3rem !important;
}
.sdgfds7.d-flex{
  margin: 0rem 3.7rem !important;
}
.sdd{
  margin: 0rem 1rem !important;
}
.sdqn.d-flex{
  margin: 0rem 0rem !important;
}
.sdd1{
  margin: 16rem 0rem !important;
}
.dsdsfg{
  margin: 8rem 0rem !important;
}
.RadialProgressIndicator{
  width: 55px !important;
  height: 55px !important;
}
.RadialProgressIndicator__label{
  font-size: 18px !important;
}
.safhfh{
  margin: 1rem 1rem !important;
  width: 80% !important;
}
.fs.d-flex{
margin: 1rem 0rem !important;
}
.fffdqwq.d-flex{
  margin: auto !important;
}
.wsdfsdsa.d-flex{
  margin: 0rem 1rem !important;
}
.fdddsd{
    margin: auto !important;
    width: auto !important;
}
.fdfewffe.d-flex{
  margin: auto !important;
}
.wewgwg{
  margin: 1rem 0.7rem !important;
  font-size: 12px !important;
}
.sdasd{
  width: 100% !important;
  height:3.5rem  !important
}
.ffeww{
  margin: 1rem 0rem !important;
}
.fdffdsf{
  width: 40% !important
}
.wfwwfe{
  margin: auto !important;
}
.tewt4et{
  margin: 1rem 0rem !important;
  width: 100% !important;
}
.ewfewfwf{
  font-size: small !important;
 
}
.ffsaf{
  margin: 0rem 0rem !important;
  width: auto !important;
}
.sfsf {
  margin: 1rem 0rem !important;
}
.weetgweg{
  margin: 0rem 9rem !important;
}
.ffff{
  margin: auto !important;
}
.gerrtm{
  margin: auto !important;
}
.dsgg{
  margin: auto !important;
}
.wefefe{
  margin: 1rem 1rem !important;
}
.wefwefw{
  margin: auto !important;
}
.gerrtm{
  height: 21rem !important;
}
.ruu.d-flex{
  margin: 1rem 4rem !important;
}
.dsdasd.d-flex{
  margin: 1rem 1rem !important;
}
.ff665{
  font-size: 9px !important;
}
.fdvvgg{
  margin: 0.7rem 0rem !important;
}
.safsdhjgh10{
margin: 1rem 0rem !important;
}
.safs4444ff{
  margin: 1rem 0rem !important;
  width: 150% !important;
}
.daaafaf{
  margin: 20rem 0rem !important;
}
.safsd1sdfg0{
  margin: 1rem 0rem !important;
}
.fhguph8{
  margin: 0.7rem 0rem !important;
  font-size: 10px !important;
}
.fssdfsf{
  margin: 0rem 6rem !important;
  width: 35% !important;
}
.effe{
  font-size: 30px !important;
}
.fewfew35{
  font-size: 20px !important;
}
.efewiuhis{
  font-size: 10px !important;
}
.euiuhjfews{
  font-size: 10px !important;
}
.s797ds{
  margin: 0rem 1rem !important;
  width: 35% !important;
}
.rwetwet6666666{
  width: 25vw !important;
}
.sdgfd5687s2.d-flex{
  margin: 0rem 0.5rem !important;
}
.sdgfd65s2.d-flex{
margin: 0rem 0.5em !important;
}
.sdgf56ds2.d-flex{
margin: 0rem 1rem !important;
}
.sdg5654fds2.d-flex{
  margin: 1rem 2rem !important;
}
.qwqwfq2{
  margin: 0rem 1rem !important;
}
.efefe324{
  margin: 0rem 1rem !important;
}
.ef54m{
  margin: auto !important;
  width: 100% !important;
  height: 120rem !important;
}
.ant-card.ant-card-bordered.css-dev-only-do-not-override-1i9hnpv{
  width: 22rem !important;
  margin: -4rem -6rem !important;
}
.convewf{
  margin: 3rem 6rem !important;
}
.etrerwh45{
  margin:-5rem -4.5rem !important ;
  width: 19rem !important;
  height: 5.5rem !important;
}
.sd4654{
  margin: 0rem 1rem !important;
  width: 90% !important;
}
.amb-3{
  margin: 0rem 1rem !important;
  width: 90% !important;
}
.sds646{
  margin: 0rem 1rem !important;
  width: 37% !important;
}
.fsf689{
  margin: 1rem 7rem !important;
width: 36% !important;
}
.ewew59{
width: 26vw !important;
}
.wfwfv{
  height: 4rem !important;
}
.con2165{
  margin: auto !important;
  width: 100% !important;
  height: 2066px  !important;
}
.cont87{
  margin: auto !important;
}
.dssa{
  width: 10rem !important;
}
.yty{
  font-size: 12px !important;
}
.dssa1{
  width: 7rem !important;
}
.hhy2{
  margin: 0.5rem 1rem !important;
}
.form-check{
  font-size: 14px !important;
}
.row{
  --bs-gutter-x: 0rem !important;
  padding-right: calc(var(--bs-gutter-x) * .0);
  padding-left: calc(var(--bs-gutter-x) * .0);

}
.efehk{
  margin: 0rem 0.5rem  !important;
}
.dsav{
  font-size: 10px !important;
}
.ffef546{
font-size: 10px !important;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
width: 27ch !important;
}
.fsg{
  margin: 2rem 2rem !important;
}
.MuiFormControl-root.MuiTextField-root.css-i44wyl{
  width: 27ch !important;
}
.asf12{
  margin: 1rem 11rem !important;
}
.asfgdg{
  margin: 21rem 0rem !important;
}
.ant-picker.css-dev-only-do-not-override-1i9hnpv.afegeg{
width: 310% !important;
}
.ant-picker.css-1i9hnpv.afegeg{
  width: 310% !important;
}
.sfsff{
  margin: 0rem 0rem !important;
}
.ib4551{
margin: 1rem 6rem !important;
}
.skm1 {
  margin: 0rem 1rem !important;
  width:90% !important;
}
.skm2{
  margin: 1rem 1rem !important;
  width:90% !important;
}.skm3 {
  margin: 0rem 1rem !important;
  width:90% !important;
}
.skm4 {
  margin: 0rem 1rem !important;
  width:90% !important;
}
.skm5 {
  margin: 1rem 1rem !important;
  width:90% !important;
}
.skm6 {
  margin: 0rem 1rem !important;
  width:90% !important;
}
.skm7{
  margin: 0rem 1rem !important;
  width:90% !important;
}
.skm8 {
  margin: 1rem 1rem !important;
  width:90% !important;
}

.skm9 {
  margin: 1rem 1rem !important;
  width:90% !important;
}
.skm10 {
  margin: 0rem 1rem !important;
  width:90% !important;
}
.skm11 {
  margin-top: 1rem !important;
}
.skm12 {
  margin-top: 1rem !important;
}
.sdsaet.d-flex{
width: 91% !important;
}
.afaf{
  width: 92% !important;
  margin: 1rem 1rem !important;
}
.wddx.d-flex{
 margin: 0.5rem 0rem !important;
}
.sfsf12{
  margin: -2rem 0rem !important;
}
.wrewwww{
  font-size: 1rem !important;
}
.kl4364{
  font-size: 23px !important;
}
.fgfdf665{
  font-size: 9px !important;
}
.tth43{
  font-size: 20px !important;
  margin: 0rem 1rem !important;
}
.contai4564{
  margin: auto !important;
}
.fe6464ew{
  width: 50% !important;
  margin: 4rem -4rem !important;
}
.sdscs.d-flex{
margin: 0rem 0rem !important;
}
.csc{
  height: 3rem !important;
}
.rty{
  height: 72rem !important ;
}
.safagmcb{
  height: 5rem !important;
}
.fsssssss15{
  margin: 3rem 0rem !important;
}
.ff2ewf{
  margin: auto !important;
}
.s797ds5685{
  margin: 0rem 1rem !important;
  width: 41% !important;
}
.s797d85s{
  margin: 0rem 1rem !important;
  width: 40% !important;
}
.feewf5{
  font-size: 16px !important;
}
.sdgfd545687s2.d-flex{
  margin: 0rem 0.5rem !important;
}
.rwetwet6666646646{
  width: 25vw !important;
}
}